<h1 class="mt-5 mb-4">Edit only for Registered Recuriter </h1>
<form action="/editJobs" method="post" >
    <%if(errorMessage){ %>
        <div class="alert alert-danger" role="alert">
            <%= errorMessage %>
        </div>
    <%}%>

    <input type="hidden" class="form-control" id="id" name="id" value="<%= jobs.id %>">


    <div class="mb-3">
        <label for="name" class="form-label">Company</label>
        <input type="text" class="form-control" id="company" name="company" value="<%= jobs.company %>">
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Designation</label>
        <input type="text" class="form-control" id="designation" name="designation" value="<%= jobs.designation %>">
    </div>
    <div class="mb-3">
        <label for="desc" class="form-label">Description</label>
        <textarea class="form-control" id="desc" name="desc" rows="3"><%= jobs.desc %></textarea>
    </div>
    <div class="mb-3">
        <label for="imageUrl" class="form-label">logo Url</label>
        <input type="text" class="form-control" id="image" name="image" value="<%= jobs.image%>" >

        <!-- <input type="file" name="imageurl" id="imageurl" accept="image/*"> -->
    </div>
    <button type="submit" class="btn btn-primary">Add New Posting</button>
</form>